.txhd{
    font-family: 
    Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
400;
font-size: 
12px;
line-height: 
22px;

Color:
#ffffff;
text-align: left;
}

.txsbtl{
    font-family: 
    Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
400;
font-size: 
16px;
line-height: 
32px;

Color:
#ffffff;
text-align: left;
}