.dashboard-container{
    height: 100vh;
    width: 100%;
    position: absolute;
}
.dashboard-body{
    background-image: url("https://b24-zu0uxk.bitrix24.in/bitrix/templates/bitrix24/themes/light/atmosphere/atmosphere2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
}

/* sidebar right  */
.dashboard-right{
    bottom: 0;
    min-height: 400px;
    right: 0;
    top: 0;
    position: fixed;
    width: 65px;
    z-index: 400;
    transform: translateZ(0);
    background-color: .3s;
    border-left: 1px solid rgba(255,255,255,.1);
}
.sidebar-left .sidebar-left-down{
    bottom: 0;
    position: absolute;
    right: 0;
    padding: 0;
    white-space: nowrap;
    padding-right: 15px;
    width: auto ;
}
.sidebar-left .sidebar-left-container .sidebar-let-up .sidebar-left-icon{
    background-color: rgba(255,255,255,.2);
    opacity: .9;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 14px;
    padding: 8px;
}
.sidebar-left .sidebar-left-container .sidebar-let-up .sidebar-left-icon .icon{
    margin:auto;
}

.sidebar-left .sidebar-left-container .sidebar-let-up>.sidebar-left-search ,
.sidebar-left .sidebar-left-container .sidebar-let-up>.sidebar-left-name-icon{
    border-radius: 50%;
    height: 34px;
    left: 16px;
    top: 15px;
    width: 34px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    margin-left: 14px;

}
.sidebar-left .sidebar-left-container .sidebar-let-up>.sidebar-left-name-icon{
    background-color: rgb(223, 83, 45);
    padding: 1px;
}
.sidebar-left .sidebar-left-container .sidebar-let-up>.line{
    border-top: 1px solid rgb(110, 144, 203);
    margin:0px 11px;
}

.sidebar-left-down>div{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 14px;
    padding: 8px;
}
.sidebar-left-down>.mobile{
    background-color: #55cfdff0;
}
.sidebar-left-down>.phone{
    background-color:#8bd100;
}
.sidebar-left-down>hr{
    border-color: rgb(110, 144, 203);
    width: 100%;
    padding-right: 0!important;
}

/* dashboard left */
.dashboard-left{
    overflow-y: scroll;
    bottom: 0;
    min-height: 400px;
    left: 0;
    top: 0;
    position: absolute;
    width: 240px;
    transform: translateZ(0);
    background-color: .3s;
    border-left: 1px solid rgba(255,255,255,.1);
}

.dashboard-left::-webkit-scrollbar {
    width: 0.5px;
}
 

 
.dashboard-left::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.sidebar-container{
    margin :0 13px 0 16px;
}
li{
    list-style:none ;
}
.sidebar-container .menu-header{
    display: flex;
    height: 63px;
    white-space: nowrap;
    top: 0;
    margin-top: 15px;
    overflow: hidden;
}
.sidebar-container .menu-header .expand-icon{
    display: inline-block;
    position: relative;
    width: 33px;
    height: 63px;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    opacity: .7;
    transition: opacity .3s;
    margin-top: 5px;
}
.sidebar-container .menu-header .logo .logo-link>span{
    font-size: 24px;
    padding-right: 10px;
    min-width: 185px;
    vertical-align: middle;
    white-space: nowrap;
    transition: opacity .2s;
    font-weight: 600;
}
.sidebar-container .menu-header .logo .logo-link>.logo-color{
    color: #2fc6f7;
}

.sidebar-container .menu-item-body{
    text-align: left;
    /* margin-top: 65px; */
}
.sidebar-container .menu-item-body .menu-list ul li{
    padding: 3px 12px 10px 15px;
    font-size: 15px;
}
.sidebar-container .menu-item-body .menu-list ul li:hover{
    background-color:rgba(255,255,255,.2) ;
    
}
.sidebar-container .menu-item-body .menu-list ul li ul li:hover{
    background-color:rgba(255,255,255,.2) ;
    margin-left: 15px;
}
.sidebar-container .menu-item-body .menu-list ul li ul li{
    margin-left: 15px;
}
.sidebar-container .menu-item-body .menu-list ul li>.chev-menu{
    display: flex;
}
.sidebar-container .menu-item-body .menu-list ul li>.sub-menu{
    margin-left: -30px;
}
.sidebar-container .menu-item-body .menu-list ul>#chev{
    border-radius: 15px;
    background-color:rgba(255,255,255,.2) ;
}
.sidenav-more>div{
    display: flex;
}
.hidden-line{
    height: 0.5px;
    border-top: 1px solid rgba(255,255,255,.35);
    width: 50px;
    margin-top: 10px;
}
.hidden{
    display: flex;
}
.hidden>p{
    margin: 0pc 5px;
    background: rgba(255,255,255,.35);
    display: inline-block;
    padding: 2px 8px 3px 8px;
    margin: 0 5px;
    width: auto;
    height: 12px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: var(--ui-font-weight-bold);
    text-transform: uppercase;
    vertical-align: middle;
    box-sizing: content-box;
}
.menu-down li span{
    font-size: 11px;
}
.upgrade{
    position: absolute;
    left: 0;
    background: rgba(184, 0, 218, .3);
    right: 0;
    width: 240px;
}
.upgrade div{
    display: flex;
}
.upgrade div>p{
    margin-right:10px ;
}
.upgrade div>p:nth-child(1){
    height: 25px;
    width: 25px;
    background-color: white;
    color: rgba(184, 0, 218, .3);
    border-radius: 50%;
    margin-top: 5px;
    padding: 5px;
}
.upgrade div>p:last-child{
    margin-top: 5px;
    font-weight: 600;
}
/* dashboard middle */
.dashboard-middle{
    /* overflow-y: scroll; */
    margin-right: 66px;
    margin-left: 230px;
    width: 80%;
}

/* dashcard */
.dashcard{
    display: flex;
}
.dashcard-left{
    width: 80%;
}
.dashcard-right{
    width: 20%;
}
.dleft-card,
.dashcard-down{
    margin: 0px 10px;
    background-color: white;
    color: gray;
    border-radius: 10px;
}
.chakra-tabs__tablist>button{
    font-size: 12px;
    padding: 15px 20px;
    font-weight: 600;
}
.dashcard-more{
    display: flex;
}
.dashcard-more>p{
    font-weight: 600;
}
.chakra-tabs__tab-panel{
    text-align: left;
}

.dashcard-middle{
    margin: 20px 10px;
}
.dm-left{
    float: left;
    font-size: 22px;
    font-weight: 500;
}
.dm-right{
    display: flex;
}
.dm-search{
    width: 800px;
}
.search{
    float: right;
    display: flex;
    width: 300;
    background-color: white;
    color: gray;
    align-items: center;
    padding:5px 10px;
    border-radius: 25px;
}
.search>input{
    outline: none;
    border: none;
}
.settings{
    padding: 10px;
    color: rgb(187, 187, 187);
}
.dashcard-down{
    padding: 5px;
}
.dash-down-up{
    display: flex;
}
.dd-left{
    width: 70px;
    height: 70px;
}
.dd-right>div{
    padding: 5px;
    width: 100%;
    display: flex;
}
.dd-l{
    width: 90%;
    text-align: left;
    font-size: 12px;
}
.dd-l>p>a{
    display: flex;
}
.dd-l>p>a>p:nth-child(1){
    color:#2067b0;
    font-weight: 600;
}
.dd-l>p>a>p:nth-child(2){
    margin: 3px 5px 0px 5px;
}
.dd-l>p:nth-child(3){
    color: black;
    font-weight: 600;
    font-size: 13px;
}
.ddr-r>div{
    display: flex;
    padding: 0px 10px;
    text-align: center;
}
.ddr-r>div>p{
    padding: 0pc 5px;
}
.desc{
    text-align: left;
    margin-top: 15px;
    font-size: 14px;
}
iframe{
    margin-top: 20px;
}
.tat{
    text-align: left;
    font-size: 13px;
    margin-top: 10px;
}
.cmt{
    margin-top: 10px;
    font-size: 13px;
}
.cmt>p:nth-child(5){
    display: flex;
}
.cmt>p{
    padding: 5px 10px;
    font-weight: 600;
}
.cmt>p:nth-child(1){
    color: #2067b0;
}
.like>p{
    height: 20px;
    width: 20px;
    background-color: #5dccf0;
    color: white;
    border-radius: 100%;
    padding: 5px;
    font-size: 10px;
    margin-right: 5px;
}
.like{
    color: #5dccf0;
    font-size: 12px;
    text-align: center;
}
.addc>img{
    height: 40px;
    width: 50px;
    border-radius: 100%;
}
.add-cmt{
    border: 1px solid gainsboro;
    outline: none;
    width: 600px;
    border-radius: 20px;
    padding: 0px 20px;
}
.css-1clgbhy,
.css-4xhuz3{
    margin:0 0 10px 0;
}
.card1-left{
    display: flex;
}
.card1-live{
    padding: 1px 8px; 
    background-color: #ff5752;
    color: white;
    position: absolute;
    margin-left: -10px;
    font-size: 10px;
}
.css-4xhuz3{
    padding: 5px;
}
.right-card1{
    display: flex;
}
.card1-left{
    padding: 5px 0px;
}
.card1-profile{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}
.card1-active{
    width: 50px;
    height: 50px;
}
.card1-active>p{
    position: absolute;
    margin-top: -35px;
    margin-left: 20px;
    font-size: 18px;
    color: black;
}
.card1-right{
    margin-left: 120px;
}
.cp-card{
    display: flex;
    padding: 5px;
}
.cp-left{
    padding: 3px 5px 0px 5px;
    font-size: 12px;
}
.cp-right{
    display: flex;
    margin: 1px 1px 1px 20px;
    background-color: white;
    width: 100px;
    border-radius: 8px;
    text-align: center;
}
.cp-right p{
    padding: 0px 20px;
}
.cp-right p:nth-child(1){
    color: gray;
}
.cp-right p:nth-child(3){
    color: #2fc6f7;
}
.c-p{
    margin-bottom: 10px;
}
.vertical-line{
    border-left: 1px solid #2fc6f7;
    height: 25px;
}
.card3{
    padding: 0px!important;
}
.card3-head{
    display: flex;
    background-color:#2fc6f7 ;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding:5px 10px;
}
.card3-head>p:nth-child(2){
    margin-left: 120px;
    margin-top: 3px;
}
.card3-item{
    padding: 10px 10px;
    text-align: left;
}
.card3-item>span:nth-child(1){
    font-size: 14px;
    font-weight: 500;
    margin-left: 30px;
}
.card3-item>span:nth-child(2){
    margin-left: 60px;

}
.card3-item>span:nth-child(3){
    margin-left: 20px;
    width: 30px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ffeaf0;
    color: #f32b63;
    padding: 5px 9px;
    font-size: 10px;
}