.txhd{
    font-family: 
Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
400;
font-size: 
36px;
line-height: 
43px;
Color:#262626;
}

.txhd1{
    font-family: 
Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
400;
font-size: 
36px;
line-height: 
40px;

Color:
#000000;
}

.points{
    font-family: 
Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
400;
font-size: 
18px;
line-height: 
22px;
Color:#262626;
}