.txhd{
    font-family: 
Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
700;
font-size: 
46px;
line-height: 
55px;
Color:#262626;
}

.txhd1{
    font-family: 
Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
600;
font-size: 
21px;
line-height: 
21px;

Color:
#0053aa;
}

.points{
    font-family: 
Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
600;
font-size: 
18px;
line-height: 
23px;
Color:#262626;
text-align: left;
}

.skycloud1{
    font-family: 
Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
500;
font-size: 
27px;
line-height: 
27px;

Color:
#ffffff;

}

.skycloud2{
    font-family: 
Montserrat, "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L", sans-serif;
font-style: 
normal;
font-weight: 
500;
font-size: 
22px;
line-height: 
26px;

Color:
#ffffff;

}